@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Montserrat:wght@300&family=Poppins:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

/** Bases **/

body{
    margin: 0;
    font-size: 20px;
    width: 100%;
}

h1 {
    font-family: "Libre Baskerville", sans-serif ;
    font-size: 2.5rem;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

ul {
    font-family: "Alkatra", sans-serif;
    font-weight: 400;
}

p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.button {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

header, footer {
    background: #000814;
}

ul {
    list-style: none;
}

/** Navbar **/

#logo {
    width: 100px;
    height: 100px;
}

.link {
    color: #FFFF;
}

nav li {
    width: 150px;
    height: 50px;
    margin: 10px;
    border-radius: 2px;
}

.highlight {
    border: solid #FFC300 2px;  
    border-radius: 2px;
}

nav li:hover {
    background: #FFC300;
    transition: 0.8s;
}

/** ======== Index.html ======== **/

.welcome-section {
    position: relative;
}

/** third section **/

.presentation-section {
    background: #001D3D;
    margin: auto;
}

.presentation-button {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 25px;
    width: 175px;
    height: 75px;
}

.presentation-text {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 20px;
    width: 80%;
    border: #FFC300 solid 2px;
}

.button {
    border: solid #000814 2px;
    border-radius: 5px;
    background: #FFC300;
    width: 100%;
    height: 100%;
}

.button:hover {
    background: white;
    transition: 0.8s;
}

@media screen and (min-width: 577px) {

    h1 {
        font-size: 3.5rem;
    }

    .presentation-button {
        width: 200px;
        height: 75px;
        margin-top: 75px;
        margin-bottom: 50px;
    }

}

@media screen and (min-width: 992px) {

    h1 {
        font-size: 4.5rem;
    }

    .presentation-button {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .presentation-text {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
