@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Montserrat:wght@300&family=Poppins:wght@200;500&display=swap');

/** Bases **/

body{
    margin: 0;
    font-size: 20px;
}

h1, h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

ul {
    font-family: "Alkatra", sans-serif;
    font-weight: 400;
}

p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.btns {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

/** Navbar **/

#logo {
    width: 100px;
    height: 100px;
}

.link {
    color: #FFFF;
}

nav {
    background: #000814;
}

nav li {
    width: 150px;
    height: 50px;
    margin: 10px;
    border-radius: 2px;
}

.highlight {
    border: solid #FFC300 2px;  
    border-radius: 2px;
}

nav li:hover {
    background: #FFC300;
    transition: 0.8s;
}